# Ignorer les environnements virtuels
.venv/

# Ignorer les fichiers PyCharm
.idea/

# Ignorer les fichiers compilés Python
__pycache__/
*.pyc

# Ignorer les fichiers de log
*.log

# Ignorer les bases de données
*.db

# Ignorer les fichiers pickle
*.pkl

# Ignorer les sessions Telethon
*.session

# Ignorer les vidéos téléchargées
downloads/

# Ignorer les fichiers secrets
.env
